body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.home {
  min-width: 1200px;
  background: url('../img/background_1.png') no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(73, 71, 63, 0.6);

  &__menu {
    display: flex;
    justify-content: space-between;
  }
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {

  }

  &__text {
    font-size: 32px;
    font-weight: 400;
    color: $white;

    &_style {
      color: $java;
      font-size: 32px;
      font-weight: 700;
    }
  }
}

.header-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: stretch;
  height: 100%;

  &__item {
    font-size: $font-size-big;
    margin-right: 20px;
    display: flex;
    align-items: center;
    position: relative;

    &_active {
      color: $java;

      &:after {
        content: "";
        border: 1px solid $java;
        position: absolute;
        bottom: -2px;
        width: 100%;
      }
    }

    &:hover .header-menu__link {
      color: $java;

      &:after {
        content: "";
        border: 1px solid $java;
        position: absolute;
        bottom: -2px;
        display: inline-block;
        width: 100%;
      }
    }
  }

  &__link {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #b8b8b8;
    font-size: $font-size-small;
    font-weight: 700;
    line-height: 120px;
  }
}

.search-icon {
  height: 22px;
  width: 22px;
  fill: $java;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
}

.content-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__about {
    padding: 0;
    margin: 0 0 45px;
    color: $white;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;

    &_color {
      color: $java;
    }
  }

  &__title {
    padding: 0;
    margin: 0 0 37px;
    color: $white;
    font-size: 79px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__feature {
    padding: 0;
    margin: 0 0 146px;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    text-transform: capitalize;
  }
}

.home-content-btns {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.btn {
  display: flex;
  flex: 0 0 166px;
  justify-content: center;
  border-radius: 4px;
  text-decoration: none;
  color: $white;
  font-size: $font-size-small;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 26px;
  padding-bottom: 26px;

  &_explore {
    background-color: $java;

    &:hover {
      background-color: $white;
      color: $java;
    }
  }

  &_purchase {
    background-color: #00cbf6;

    &:hover {
      background-color: $white;
      color: #00cbf6;
    }
  }
}










